<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员操作商品</title>
    <link rel="stylesheet" th:href="@{/css/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/css/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/themes/tree.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/easyui-lang-zh_CN.js}"></script>
</head>
<body>
<table id="dggoods" class="easyui-datagrid"
       data-options="width:1000,title:'商品操作',url:'/yoga/manager/getallgoods',fitColumns:true,striped:true,pagination:true,rownumbers:true,pageNumber:1,pageSize:10,pageList:[10,20,30],toolbar:'#tbgoods'">
    <thead>
    <tr>
        <th data-options="field:'gId',title:'商品编号',width:80,align:'center'"></th>
        <th data-options="field:'gName',title:'商品名称',width:80,align:'center'"></th>
        <th data-options="field:'gDescrption',title:'商品介绍',width:80,align:'center'"></th>
        <th data-options="field:'gPrice',title:'商品价格',width:80,align:'center'"></th>
        <th data-options="field:'gImg',title:'图片',width:80,align:'center',formatter:showgoodsImg"></th>
        <th data-options="field:'gStock',title:'库存',width:80,align:'center'"></th>
    </tr>
    </thead>
</table>
<div id="tbgoods">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addgoods()">添加</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="updategoods01()">修改</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="deletegoods()">删除商品</a>
    <form>
        <br>
        搜索 : <input type="text" name="goodsName" id="goodsName">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGoods(-99)">搜索</a>
    </form>
</div>

<div id="dlggoods" class="easyui-dialog" data-options="buttons:'#butgoods',width:700,height:700,modal:true,closed:true" style="padding: 20px">
    <form id="fmgoods">
        <table cellpadding="5">
            <tr>
                <td>商品编号：</td>
                <td>
                    <input size="15" type="text" id="gId" name="gId" readonly="true">
                </td>
            </tr>
            <tr>
                <td>商品名称：</td>
                <td>
                    <input size="15" type="text" id="gName" name="gName">
                </td>
            </tr>
            <tr>
                <td>商品价格：</td>
                <td>
                    <input id="gPrice" size="15" type="text" name="gPrice">
                </td>
            </tr>
            <tr>
                <td>商品库存: </td>
                <td>
                    <input id="gStock" size="15" type="text" name="gStock">
                </td>
            </tr>
            <tr>
                <td>商品原图片: </td>
                <td id="gImg" style="width: 80px"></td>
            </tr>
            <tr>
                <td>更改图片: <input type="file" name="sdfFile" id="sdfFile" value="" onchange="f_change(this);" ></td>
                <td><img alt="还未选择图片,请选择" src="" id="imgSdf" width="40" height="40"></td>


            </tr>
            <tr>
                <td>
                    商品介绍：
                </td>
                <td colspan="3">
                    <textarea name="gDescrption" id="gDescrption" cols="30" rows="7"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="dlggoods1" class="easyui-dialog" data-options="buttons:'#butgoods1',width:700,height:700,modal:true,closed:true" style="padding: 20px">
    <form id="fmgoods1">
        <table cellpadding="5">
            <tr>
                <td>商品名称：</td>
                <td>
                    <input size="15" type="text" id="gName1" name="gName1">
                </td>
            </tr>
            <tr>
                <td>商品价格：</td>
                <td>
                    <input id="gPrice1" size="15" type="text" name="gPrice1">
                </td>
            </tr>
            <tr>
                <td>商品库存: </td>
                <td>
                    <input id="gStock1" size="15" type="text" name="gStock1">
                </td>
            </tr>
            <tr>
                <td>商品类型: </td>
                <td>
                    <select  name="gtype1" id="gtype1"  data-options="width:150"></select>
                    <!--<input id="gtype1" size="15" type="text" name="gtype1">-->
                </td>
            </tr>
            <tr>
                <td>商品图片: <input type="file" name="sdfFile1" id="sdfFile1" value="" onchange="f_change(this);" ></td>
                <td><img alt="还未选择图片,请选择" src="" id="imgSdf1" width="40" height="40"></td>


            </tr>
            <tr>
                <td>
                    商品介绍：
                </td>
                <td colspan="3">
                    <textarea name="gDescrption1" id="gDescrption1" cols="30" rows="7"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--修改商品信息,确认按钮-->
<div id="butgoods">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="operategoods()">保存</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeDialoggoods()">关闭</a>
</div>
<div id="butgoods1">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="operategoods()">保存</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeDialoggoods()">关闭</a>
</div>
</body>
<script>
    var url = "";
    var fmgood =""; //form 表单id
    var sdffile = ""; // 商品图片id
    var imgsdf =""; //图片展示id
    var closeglg ="";
    var talk = "";
    /*修改商品信息*/
    function updategoods01() {
        talk = "修改";
        fmgood ="fmgoods";
        sdffile = "sdfFile";
        url ="/yoga/manager/updategoods";
        imgsdf = "imgSdf";
        closeglg ="dlggoods";
       var rows =  $("#dggoods").datagrid("getSelections");
        if (rows.length !=1){
            $.messager.alert("提示","请选择一条商品信息进行修改");
            return;
        }
        $("#dlggoods").dialog("open").dialog("setTitle","修改商品信息");
        $("#gName").val(rows[0].gName);
        $("#gPrice").val(rows[0].gPrice);
        $("#gDescrption").val(rows[0].gDescrption);
        $("#gStock").val(rows[0].gStock);
        $("#gImg").html("<img width='60px' src="+rows[0].gImg+">");
        $("#gId").val(rows[0].gId);

    }

    /*添加商品*/
    function addgoods() {
        talk = "添加";
        fmgood ="fmgoods1";
        sdffile = "sdfFile1";
        imgsdf = "imgSdf1";
        closeglg ="dlggoods1";
        url ="/yoga/manager/addgoods";
        $.ajax({
           url:'/yoga/manager/getgoodstype',
           type:'get',
            success:function (data) {
                for (var i=0;i<data.length;i++){
                    $("#gtype1").append("<option>"+data[i]+"</option>")
                }
            }
        });
        $("#dlggoods1").dialog("open").dialog("setTitle","添加商品信息");
    }
    /*删除商品*/
    function deletegoods() {
        var rows =  $("#dggoods").datagrid("getSelections");
        if (rows.length !=1){
            $.messager.alert("提示","请选择一条商品信息进行修改");
            return;
        }
        $.ajax({
            url:'/yoga/manager/deletegoods',
            type:'post',
            data:{
                gId:rows[0].gId
            },
            success:function (data) {
                if (data.ok ==0){
                    $.messager.alert("提示",data.message);
                    $("#dggoods").datagrid("reload");
                }
            }

        })
    }

    /*模糊+指定查询*/
    function searchGoods(da) {
        $("#dggoods").datagrid("reload", {
            type: da,
            goodsName:$('#goodsName').val()
        });
        $("#goodsName").val("")
    }

    /*图片格式转换*/
    function showgoodsImg(value,row,index){
        if (value){
            return "<img src='"+value+"' style='width:60px;height:60px'";
        } else{
            return null;
        }
    }

    /*关闭按钮*/
    function closeDialoggoods() {
        $("#"+closeglg+"").dialog("close");

    }

    /*修改商品信息,提交按钮*/
    function operategoods() {
        updateImg(sdffile);
        $("#"+fmgood+"").form("submit",{
            url:url,
            method:'post',
            dataType:'application/json;charset=utf-8',
            success:function (data) {
                if (data[6]==0){
                    $.messager.alert("提示",talk+"成功");
                    $("#dggoods").datagrid("reload");
                    $("#"+closeglg+"").dialog("close");
                } else{
                    $.messager.alert("提示",talk+"失败");
                }
            }
        })
    }
    /*图片传给后台*/
    function updateImg(sdfFile) {
        var upload_file = new FormData();
        var img = $("#"+sdfFile+"")[0].files[0];
        upload_file.append("image", img);
        $.ajax({
            url:'/yoga/manager/updateimg',
            type:'post',
            cache : false,
            async : false,
            mimeType : "multipart/form-data",
            processData : false,
            contentType : false,
            data:upload_file,
            dataType:'json'
        })
    }
    /*选择图片 , 并展示在页面*/
    var reader = new FileReader();
    function f_change(file) {
        var img = document.getElementById(imgsdf);
        //读取File对象的数据
        reader.onload = function (evt) {
            //data:img base64 编码数据显示
            img.width = "100";
            img.height = "100";
            img.src = evt.target.result;
        };
        reader.readAsDataURL(file.files[0]);
    }
</script>
</html>