<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>教练维护</title>
    <style>
        #btn2{
            position: absolute;
            border: 1px;
            top: 50%;
            left: 50%;
        }
    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<button style="font-size: 20px" type="button" id="btn1" onclick="show()">修改教练信息</button>

<div id="btn2" style="display: none">

<!--<div>
    姓名<input type="text" name="user_name" ><br><br>
    所在场馆<input type="date" name="venue_name" id="time"><br><br>
    费用<input type="text" name="teacher_money" id="tname"><br><br>
    认证是否通过<input type="text"  name="au_ifsuccess">
</div>-->


<div  class="modal-footer" >
    <button type="button" class="btn btn-link" onclick="hidSelectBox()">返回</button>
    <input type="submit" value="确认">
</div>

</div>

<script>
    function show() {
        document.getElementById("btn2").style.display = "block";
    }
    function hidSelectBox() {
        document.getElementById("btn2").style.display="none";
    }

    function showstudent(vpage) {
        $.ajax({
            url:"/yoga/manager/ChangeTeacher",
            type:"post",
            async:true,
            data:{
                page:vpage
            },
            success:function(message){
                alert(66);
                var content="<tr>"+
                    "<td>名字</td>"+
                    "<td>所在场馆</td>"+
                    "<td>费用</td>"+
                    "<td>认证是否通过</td>"+
                    "</tr>";
                for (var i = 0; i <= message.length; i++) {
                    var teacher=message[i];
                    content+="<tr>"+"<td>"+teacher.user_name+"</td>"+
                        "<td>"+teacher.Venue_name+"</td>"+
                        "<td>"+teacher.teacher_money+"</td>"+
                        "<td>"+teacher.teacher_money +"</td>"+
                        "<td><a href='/DormitoryManagementSystem/stu/delstu?sid="+student.sid+"'>学生退房</a></td>"	+
                        "<td><a href='/DormitoryManagementSystem/stu/stuchange?sid="+student.sid+"'>学生换房</a></td>"	+
                        "<tr>"

                }
                $("#btn2").html(content);



            }
        });
    }
    showstudent(1);
</script>
</body>
</html>