div{
	float: left;

}


select:focus option:checked{
	background-color: lavender;

}
select{

	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
	font-size: 23px;
}
#time00{
	margin-left: 5%;
 width: 400px;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0 0 5px #cccccc;
font-size: 26px;
	border: 2px solid #b7d2ff;
}


#time00:after{
	content: "";
	width: 50px;
	height: 50px;
	background: url(/yoga/img/2.jpg)no-repeat center;

	right: 20px;
	top: 45%;
	pointer-events: none;

}


body{
	background-color:lightcyan;
	font-family: Arial;
}
.title1{
	width: 94%;height: 200px;font-size: 100px;border: whitesmoke 1px solid;
	margin-left: 2%;
}

.date1{
	width: 94%;height: 200px;font-size: 100px;border: whitesmoke 1px solid;
	margin-top: 30px;
	margin-left: 2%;
}
.title2{
	width: 94%;height: 100px;font-size: 40px;border: whitesmoke 1px solid;
	margin-top: 50px;
	margin-left: 2%;
}
#dogs{
	width: 94%;font-size: 35px;border: whitesmoke 1px solid;
	margin-top: 50px;
	margin-left: 2%;
}

.title3{margin-left: 5%;
	height: 170px;
	width: 90%;
	border: 1px pink solid;
	border-radius: 30px;
	margin-top: 5%;
}
.message2{
	width: 21%;
    margin-top: 5%;
	height: 170px;
	font-size: 26px;
	text-align: center

}
.message5{
	width: 12%;
	margin-top: 5%;
	height: 170px;
	font-size: 26px;
	text-align: center
}
.message6{
	width: 8%;
	margin-top: 1.5%;
	height: 100px;
	margin-left: 3%;

}

.message4{
	width: 15%;
	margin-top: 5%;
	height: 170px;
	font-size: 26px;
	text-align: center
}

.message3{
	width: 35%;
	margin-top: 5%;
	height: 170px;
	font-size: 26px;
	text-align: center

}

.line{
	height: 10px;
	width: 70%;
	background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));
	background: linear-gradient(to right, rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));

}