div{
	float: left;
}
body{
	background-color: #01AAED;
}
.title1{
	width: 94%;height: 200px;font-size: 100px;border: #0E2D5F 5px solid
}

.date1{
	width: 94%;height: 200px;font-size: 100px;border: #0E2D5F 5px solid;
	margin-top: 30px;
}
.title2{
	width: 94%;height: 200px;font-size: 60px;border: #0E2D5F 5px solid;
	margin-top: 50px;
}
#dogs{
	width: 94%;height: 500px;font-size: 35px;border: #0E2D5F 5px solid;
	margin-top: 50px;
}

.title3{margin-left: 5%;
	height: 300px;
	width: 90%;
	border: 10px pink solid;
	border-radius: 30px;
}
.message2{
	width: 18%;
	border: #0C0C0C solid 2px;
	height: 200px;
	font-size: 30px;

}

.line{
	height: 10px;
	width: 70%;
	background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));
	background: linear-gradient(to right, rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));

}