
.momo{
	display: none;
	position: fixed;
	margin: 0;
	background-color:rgba(97, 221, 247, 0.87);
	left: 0;
	top: 0;
}

#blackback{
	width: 100%;
	height: 100%;
	z-index: 90;

}

#box1{
	background-color: rgba(2, 166, 241, 0.83);
	font-family: "微软雅黑";
	z-index: 100;
	width: 345px;
	height: 400px;
	text-align: center;
	border-radius: 14px;
}

#bu1{
	width: 10%;
	height: 5%;
	background-color:skyblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 0 5px #cccccc;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 15%;
}
#bu2{
	width: 10%;
	height: 5%;
	background-color:skyblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 0 5px #cccccc;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 10%;
	margin-left: 20%;
	margin-bottom: 10%;
}




div{
	float: left;

}


select:focus option:checked{
	background-color: lavender;

}

.button0 {
	background-color:skyblue;
	border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px #cccccc;
	color: white;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

select{

	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
	font-size: 23px;
}
#time00{
	margin-left: 2%;
 width: 60%;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0 0 5px #cccccc;
font-size: 26px;
	border: 2px solid #b7d2ff;
}


#time00:after{
	content: "";
	width: 50px;
	height: 50px;
	background: url(/yoga/img/2.jpg)no-repeat center;

	right: 20px;
	top: 45%;
	pointer-events: none;

}


body{
	width: 100%;
	height: 100%;
	margin: 0%;
	background-color:lightcyan;
	font-family: Arial;

     ;
}
.title1{
	width: 94%;height: 18%;font-size: 50px;
	margin-left: 3%;
	margin-top: 6%;
}

.date1{
	width: 94%;height: 18%;font-size: 50px;border: whitesmoke 1px solid;
	margin-top: 3%;
	margin-left: 2%;
}
.title2{
	width: 94%;height: 70px;border: whitesmoke 1px solid;
	margin-top: 20px;
	margin-left: 2%;
}
#dogs{
	width: 94%;font-size: 35px;border: whitesmoke 1px solid;
	margin-top: 2%;

}

.title3{margin-left: 2%;
	height: 90px;
	width: 93%;
	border: 1px pink solid;
	border-radius: 30px;
	margin-top: 2%;
}
.message2{
	width: 21%;
    margin-top: 5%;
	height: 80px;
	font-size: 17px;
	text-align: center;
	margin-left: 2%;

}
.message5{
	width: 12%;
	margin-top: 5%;
	height: 80px;
	font-size: 17px;
	text-align: center
}
.message6{
	width: 6%;
	margin-top: 1.5%;
	height: 80px;
	margin-left: 3%;

}

.message4{
	width: 20%;
	margin-top: 5%;
	height: 80px;
	font-size: 17px;
	text-align: center
}

.message3{
	width: 30%;
	margin-top: 5%;
	height: 80px;
	font-size: 17px;
	text-align: center

}

.line{
    float: left;
    margin-top: 10%;
	height: 6px;
	width: 100%;
	background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));
	background: linear-gradient(to right, rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));

}