body {
    margin: 0;
    overflow: hidden;
    font-family: "Segoe UI";
    font-weight: 700;
}

header {
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.73);
    width: 100%;
    height: 30px;
    text-align: center;
}

#post {
    float: right;
    width: 60px;
    height: 30px;
}

#title {
    font-size: 26px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 2px auto;
}

.moments {
    width: 100%;
    border-bottom: 1px solid lightblue;
    box-shadow: black;
}

.head_img {
    height: 60px;
    width: 60px;
}

.inside {
    margin: 0 20px;
}