<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>YOGA! 场馆</title>
    <script  th:src="@{/bookstry/js/jquery.min.js}"></script>
    <script  th:src="@{/bookstry/js/bootstrap.min.js}"></script>
    <link th:href="@{/bookstry/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<button style="height: 25px;width: 100px;text-align: center" onclick="addFriends()">发布动态</button>
<textarea placeholder="请输入内容" class="layui-textarea" id="fDetail"></textarea>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>我发布的朋友圈</legend>
</fieldset>

<ul class="layui-timeline" id="friendDatas">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <div class="layui-timeline-title">过去</div>
        </div>
    </li>
</ul>
<script>
    var fDetail="";
    function addFriends() {
       fDetail=$("#fDetail").val();
        selFriends();
    }
    selFriends();
    function selFriends() {
        $.ajax({
            url: "/yoga/venueDate/selFriends",
            type: "post",
            data: {
                fDetail: fDetail
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {
                        time: 20000, //20s后自动关闭
                        btn: ['知道了']
                    });
                } else if (data == 500) {
                    layer.msg(data.msg, {
                        time: 20000, //20s后自动关闭
                        btn: ['知道了']
                    });
                }
                var  datas=data.data;
                if (datas) {
                    var strs="";
                    //拼接上方的文本样式
                    $.each(datas, function (i, val) {
                        strs += "<li class=\"layui-timeline-item\">\n" +
                            " <i class=\"layui-icon layui-timeline-axis\"></i>\n" +
                            "<div class=\"layui-timeline-content layui-text\">\n" +
                            "<h3 class=\"layui-timeline-title\">"+val.fTime+"</h3>\n" +
                            "<p>"+val.fDetail+"</p>\n" +
                            "<ul>\n" +
                            "</ul>\n" +
                            "</div>\n" +
                            "</li>";
                    });
                    strs+="<li class=\"layui-timeline-item\">\n" +
                        "        <i class=\"layui-icon layui-timelirne-axis\"></i>\n" +
                        "        <div class=\"layui-timeline-content layui-text\">\n" +
                        "            <div class=\"layui-timeline-title\">过去</div>\n" +
                        "        </div>\n" +
                        "    </li>";
                    $("#friendDatas").html(strs);
                }
            }
        })
    }

</script>
</body>
</html>