<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layer/layer.js}"></script>
    <style type="text/css">
        #body01 {
            width: 400px;
            height: 400px;
            text-align:center;
            margin: 0 auto;
        }
    </style>
</head>
<body id="body01">
<br><br><br>
&nbsp;&nbsp;<input value="欢迎来到！YOGA！！" style="font-size: 20px;background-color:rgba(0,0,0,0.2);"><br><br><br>
<div class="layui-form-item">
    <label class="layui-form-label">会员卡名称</label>
    <div class="layui-input-inline">
        <input type="text" name="cardName" id="cardName" required lay-verify="required" placeholder="会员卡名称" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">会员卡类型</label>
    <div class="layui-input-inline">
        <input type="text" name="cardInfo" id="cardInfo" required lay-verify="required" placeholder="会员卡类型" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">价格</label>
    <div class="layui-input-inline">
        <input type="number" min="0" max="100000" name="cardPrice" id="cardPrice" required lay-verify="required" placeholder="价格" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">会员卡有效期</label>
    <div class="layui-input-inline">
        <input type="text" name="useDate" id="useDate" required lay-verify="required" placeholder="会员卡有效期" autocomplete="off" class="layui-input">
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-input-block" >
        <button class="layui-btn"  onclick="insertVipType()" >提交</button>
        <button  class="layui-btn" onclick="exits()" >返回</button>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    function exits() {
        location.reload();
    }
    function insertVipType(){
        $.ajax({
            url : "/yoga/venueDate/insertVipTypeDatas",
            type : "post",
            data : {
                cardName : $("#cardName").val(),
                cardInfo : $("#cardInfo").val(),
                useDate : $("#useDate").val(),
                cardPrice : $("#cardPrice").val()
            },
            dataType : "json",
            success : function(data) {
                if(data.code == 0){
                    alert(data.msg)
                }
                alert(data.msg)
                location.reload();
            }
        })
    }

</script>
</body>
</html>