<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>YOGA! 场馆</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layer/layer.js}"></script>
</head>
<body class="layui-layout-body">
<table class="layui-hide" id="teacher" lay-filter="test"></table>
<script type="text/html" id="teachertool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="NNN">通过</button>
        <button class="layui-btn layui-btn-sm" lay-event="FFF">否决</button>
    </div>
</script>
<script th:inline="javascript">
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#teacher'
            ,height: 500
            ,url:'/yoga/venueDate/teacherDatas?teype=1&teacherName=&teacherSex='
            ,page: true
            ,response: {
                statusName: 'code'
                ,statusCode: 200
                ,msgName: 'msg'
                ,countName: 'count'
                ,dataName: 'data'
            }
            ,toolbar: '#teachertool'
            ,cols: [
                [
                    {type:'radio'},
                    {field:'d.teacher.teacherId', width:150, title: '教练编号',templet: "<div>{{d.teacher?d.teacher.teacherId:''}}</div>", sort: true}
                    ,{field:'d.teacher.teacherName', width:150, title: '教练姓名',templet: "<div>{{d.teacher?d.teacher.teacherName:''}}</div>"}
                    ,{field:'d.teacher.teacherSex', width:150, title: '性别', sort: true ,templet: "<div>{{d.teacher?d.teacher.teacherSex:''}}</div>"}
                    ,{field:'d.teacher.teacherMoney', width:150, title: '费用',templet: "<div>{{d.teacher?d.teacher.teacherMoney:''}}</div>"}
                    ,{field:'d.teacher.teacherPhone', title: '联系方式', minWidth: 150 ,templet: "<div>{{d.teacher?d.teacher.teacherPhone:''}}</div>"}
                    ,{field:'d.teacher.htmlimg', width:150, title: '相片', sort: true ,templet: "<div>{{d.teacher?d.teacher.htmlimg:''}}</div>"}
                ]
            ]

        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
        switch(obj.event){
            case 'NNN':
                    var data = checkStatus.data;  //获取选中行数据
                    layer.alert(JSON.stringify(data));
                translate(0,data[0].teacher.teacherId);
                    break;
            case 'FFF':
                var data = checkStatus.data;  //获取选中行数据
                translate(2,data[0].teacher.teacherId);
                break;
            };
        });
    });
    function translate(tid,teacherId) {
        $.ajax({
            url : "/yoga/venueDate/translateTeacher",
            type : "post",
            data : {
                teacherState:tid,
               teacherId : teacherId,
            },
            dataType : "json",
            success : function(data) {
                if(data.code == 0){
                    alert(data.msg)
                    window.parent.location.reload();
                    parent.layer.close(index);
                }
                alert(data.msg);

            }
        })

    }
</script>
</body>
</html>