<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>YOGA! 场馆</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layer/layer.js}"></script>
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 40px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">YOGA! 场馆</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:">商品管理</a></li>
            <li class="layui-nav-item"><a href="">关注</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img id="imgs" src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="userNames" value="贤心"></span>

                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:venueInFoTab();">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="javascript:atention()">关注</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/yoga/venue/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="javascript:studentTab()">学员管理</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" >教练管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:myteacherTab();">签约教练</a></dd>
                        <dd><a href="javascript:;">课程安排</a></dd>
                        <dd><a href="javascript:teacherTab();">教练招聘</a></dd>
                        <dd><a href="javascript:addTab();">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:vipType()">产品管理</a></li>
                <li class="layui-nav-item"><a href="javascript:uploadAds()">发布广告</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">没错我就是那个傻逼首页</div>
            </div>
        </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>

    var element =null;
    //JavaScript代码区域
    layui.use('element', function(){
        element = layui.element;
    });


    var url  = null;
    var title= null;
    var eid  = null;
    
    function venueInFoTab() {
        url='/yoga/venue/VenueInFo';
        title="基本资料";
        eid="venueInFoTabId";
        addTab();
    }

    
    function teacherTab() {
        url='/yoga/venue/teacher';
        title="招聘教练";
        eid="teacherTabId";
        addTab();
    }
    function myteacherTab() {
        url='/yoga/venue/myteacher';
        title="签约教练";
        eid="myteacherTabId";
        addTab();
    }
    function studentTab() {
        url='/yoga/venueUser/student';
        title="学员管理";
        eid="studentTabId";
        addTab();
    }
    function atention() {
        url='/yoga/venueUser/atention';
        title="关注";
        eid="atentionTabId";
        addTab();
    }
    function vipType() {
        url='/yoga/venueUser/vipType';
        title="畅销VIP大减价";
        eid="vipTypeTabId";
        addTab();
    }

    function uploadAds() {
        url='/yoga/venueUser/uploadAds';
        title="广告申请";
        eid="AdTabId";
        addTab();
    }



    function addTab() {
        element.tabDelete('demo', eid);
        $.ajax({ url:url,
                 type:"GET",
                success:function(result){
                     element.tabAdd('demo', {
                         title:title
                         ,content:result
                         ,id: eid //实际使用一般是规定好的id，这里以时间戳模拟下
                     })
                    element.tabChange('demo', eid);
                     }
                 });
              }

    /**
     * 删除场馆vip类型
     * @param vid
     */
    function deleteVipType(vid) {
        alert(vid);
        $.ajax({
            url : "/yoga/venueDate/deleteVipTypeDatas",
            type : "post",
            data : {
                vipTypeId:vid
            },
            dataType : "json",
            success : function(data) {
                alert(data.msg);
                eid="vipTypeTabId";
                addTab();
            }
        })
    }
   function setAd(){
       $.ajax({
           url:"/yoga/venueDate/uploadAdDatas",
           type:"post",
           async:true,
           contentType:"application/json;charset=utf-8",
           data:JSON.stringify({"adTitle":$("#venueAdname").val(),"adDetails":$("#venueAdDesc").val(),"adImg":$("#imgname").val()}),
           success:function(mes){
                alert(mes.msg);
              if (mes.code==0){
                  element.tabDelete('demo',"AdTabId");
              }else {
                  return;
              }
           }
       });
   }
function updateVenue() {
    $.ajax({
        url:"/yoga/venueDate/uploadVenueDatas",
        type:"post",
        async:true,
        contentType:"application/json;charset=utf-8",
        data:JSON.stringify({"venueName":$("#venueName").val(),"venueAddress":$("#venueAddress").val(),"venuePhone":$("#venuePhone").val(),"qq":$("#venueQQ").val(),"venueDetails":$("#venueDesc").val(),"venueImg":$("#venueImg").val()}),
        success:function(mes){
            alert(mes.msg);
            if (mes.code==0){
                element.tabDelete('demo',"AdTabId");
            }else {
                return;
            }
        }
    });
}

</script>
</body>
</html>