<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>YOGA! 场馆</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layer/layer.js}"></script>
    <script th:src="@{/yoga/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">

<table class="layui-hide" id="vipType" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除会员卡</button>
        <button  class="layui-btn" id="insertVipType" onclick="insertVipType()">新增会员卡</button>
    </div>
</script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#vipType'
            ,height: 300
            ,url:'/yoga/venueDate/showVipDatas'
            ,page: true
            ,response: {
                statusName: 'code'
                ,statusCode: 200
                ,msgName: 'msg'
                ,countName: 'count'
                ,dataName: 'data'
            }
            ,toolbar: '#toolbarDemo'
            ,cols: [
                [
                    {type:'radio'}
                ,{field:'vipTypeId', width:150, title: '会员卡ID', sort: true}
                ,{field:'cardName', width:150, title: '会员卡名称', sort: true}
                ,{field:'cardInfo', width:150, title: '会员卡类型', sort: true}
                ,{field:'cardPrice', width:150, title: '价格'}
                ,{field:'useDate', width:150, title: '有效期'}

                ]
            ]

        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;  //获取选中行数据

                    deleteVipType(data[0].vipTypeId);
                    break;
            };
        });
    });
    function insertVipType() {
        layer.open({
            type: 2,
            title: '添加会员卡',
            area : ['600px' , '500px'],
            content: '/yoga/venueUser/inVipTypes'
        });
    }
    // function insertVipType() {
    //     url='/yoga/venueUser/inVipTypes';
    //     title="添加VIP类型";
    //     eid="AdVipTypeId";
    //     add();
    // }
    //
    //
    //  function add() {
    //      $.ajax({ url:url,
    //          type:"GET",
    //          success:function(result) {
    //                     layer.open({
    //                  title: '添加会员卡'
    //                         , area: ['600px', '500px']
    //                  , content: result
    //
    //              });
    //          }
    //          });
    //  }
</script>
</body>
</html>