<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>教练维护</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="/yoga/image/icon.png" />
    <link rel="stylesheet"
          href="/yoga/hsn/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/yoga/hsn/css/paging.css">
    <script src="/yoga/js/jquery.1.9.1.js"></script>
    <script src="/yoga/hsn/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <style>
        table {

            border-collapse: collapse;

            margin: 0 auto;

            text-align: center;

        }

        table td, table th {

            border: 1px solid #cad9ea;

            color: #666;

            height: 30px;

        }

        table thead th {

            background-color: #CCE8EB;

            width: 100px;

        }

        table tr:nth-child(odd) {

            background: #fff;

        }

        table tr:nth-child(even) {

            background: #F5FAFA;

        }
    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div>
    <table id="teacher1" border="1">

    </table>
</div>

<div class="row">
    <div style="width: 400px !important; height: 60px;margin: auto;">
        <div class="wrap">
            <div class="fenye">
                <ul>
                    <li id="first" onclick="showGoods(1)">首页</li>
                    <li id="top" onclick="lastpage()">上一页</li>
                    <li class="xifenye" id="xifenye"><span id="currentpage">1</span>/
                        <span id="totalpage">8</span>
                    <li id="down" onclick="nextpage()">下一页</li>
                    <li id="last" onclick="endPage()">末页</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script>

    function showstudent(vpage) {
        $.ajax({
            url:"/yoga/teacher/showteachers",
            type:"post",
            async:true,
            data:{
                page:vpage
            },
            success:function(message){

                var content="<tr>"+
                    "<td>教练名字</td>"+
                    "<td>教练手机</td>"+
                    "<td>教练QQ</td>"+
                    "<td>教练费用</td>"+
                    "</tr>";
                for (var i = 0; i < message.length; i++) {
                    var mteacher=message[i];
                    content+="<tr>"+"<td><a href='/yoga/teacher/teadetail?teacherId="+mteacher.teacherId+"'>"+mteacher.teacherName+"</a></td>"+
                        "<td>"+mteacher.teacherPhone+"</td>"+
                        "<input type='hidden' value='"+mteacher.teacherId+"' id='teacherId'>"+
                        "<td>"+mteacher.teacherQq+"</td>"+
                        "<td>"+mteacher.teacherMoney +"</td>"+
                        "<td><a href='/yoga/teacher/deltea?teacherId="+mteacher.teacherId+"'>删除教练</a></td>"	+
                        "<tr>"

                }
                $("#currentpage").html(vpage);
                $("#teacher1").html(content);



            }
        });
    }
    showstudent(1);
    
    function lastpage() {
        var current=$("#currentpage").html();
        var currentPage=parseInt(current);

        if(currentPage > 1){
            showstudent(currentPage - 1);
        }
    }
    function nextpage() {
        var current=$("#currentpage").html();
        var currentPage=parseInt(current);
        var total=$("#totalpage").html();
        var totalPage=parseInt(total);
            showstudent(currentPage + 1);
    }
</script>
</body>
</html>