<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    table {

        border-collapse: collapse;

        margin: 0 auto;

        text-align: center;

    }

    table td, table th {

        border: 1px solid #cad9ea;

        color: #666;

        height: 30px;

    }

    table thead th {

        background-color: #CCE8EB;

        width: 100px;

    }

    table tr:nth-child(odd) {

        background: #fff;

    }

    table tr:nth-child(even) {

        background: #F5FAFA;

    }
</style>
<head>
    <meta charset="UTF-8">
    <title>场馆</title>
    <link rel="stylesheet" th:href="@{/css/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/css/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/themes/tree.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/easyui-lang-zh_CN.js}"></script>

</head>
<body>
<div>场馆名字:<input type="text" name="venname" id="venname"></div>
<div>场馆地址:<input type="text" name="addrass" id="addrass"></div>
<div>电话号码:<input type="text" name="phone" id="phone"></div>
<div>QQ号码:<input type="text" name="qq" id="qq"></div>
<div onclick="shearch()"><input type="submit" value="确认"></div>
<div id="venues">
    <table id="venues1" border="1">

    </table>
</div>
<div class="row">
    <div style="width: 400px !important; height: 60px;margin: auto;">
        <div class="wrap">
            <div class="fenye">
                <ul>
                    <li id="first" onclick="showGoods(1)">首页</li>
                    <li id="top" onclick="lastpage()">上一页</li>
                    <li class="xifenye" id="xifenye"><span id="currentpage">1</span>/
                        <span id="totalpage">8</span>
                    <li id="down" onclick="nextpage()">下一页</li>
                    <li id="last" onclick="endPage()">末页</li>
                </ul>

            </div>
        </div>
    </div>
</div>


</body>
<script>
    function shearch() {
        $.ajax({
            url: "/yoga/manager/shearch",
            type: "post",
            async: true,
            dataType:"json",
            data:{
                venname:$("#venname").val(),
                addrass:$("#addrass").val(),
                phone:$("#phone").val(),
                qq:$("#qq").val()
            },
            success :function (message) {
                var content="<tr>"+
                    "<td>名字</td>"+
                    "<td>所在地址</td>"+
                    "<td>QQ</td>"+
                    "<td>详情</td>"+
                    "<td>电话</td>"+
                    "<td>费用</td>"+
                    "</tr>";
                for (var i = 0; i < message.length; i++) {
                    var venue=message[i];
                    content+="<tr>"+"<td><a href='/yoga/manager/venuedetail?venueId="+venue.venueId+"'>"+venue.venueName+"</a></td>"+
                        "<td>"+venue.venueAddress+"</td>"+
                        "<td>"+venue.qq+"</td>"+
                        "<td>"+venue.venueDetails +"</td>"+
                        "<td>"+venue.venuePhone +"</td>"+
                        "<td>"+venue.venueMoney +"</td>"+
                        "<td><a href='/yoga/manager/delven?venueId="+venue.venueId+"'>删除场馆</a></td>"+
                        "<tr>"

                }

                $("#venues1").html(content);
            }
        });
    }
    /*展示场馆信息*/
    function showvenues(vpage) {
        $.ajax({
            url:"/yoga/manager/showvenues",
            type:"post",
            async:true,
            data:{
                page:vpage
            },
            success:function (message) {
                var content="<tr>"+
                    "<td>名字</td>"+
                    "<td>所在地址</td>"+
                    "<td>QQ</td>"+
                    "<td>详情</td>"+
                    "<td>电话</td>"+
                    "<td>费用</td>"+
                    "</tr>";
                for (var i = 0; i < message.length; i++) {
                    var venue=message[i];
                    content+="<tr>"+"<td><a href='/yoga/manager/venuedetail?venueId="+venue.venueId+"'>"+venue.venueName+"</a></td>"+
                        "<td>"+venue.venueAddress+"</td>"+
                        "<td>"+venue.qq+"</td>"+
                        "<td>"+venue.venueDetails +"</td>"+
                        "<td>"+venue.venuePhone +"</td>"+
                        "<td>"+venue.venueMoney +"</td>"+
                        "<td><a href='/yoga/manager/delven?venueId="+venue.venueId+"'>删除场馆</a></td>"+
                        "<tr>"

                }
                $("#currentpage").html(vpage);
                $("#venues1").html(content);
            }

        });
    }
    showvenues(1);


    function lastpage() {
        var current=$("#currentpage").html();
        var currentPage=parseInt(current);

        if(currentPage > 1){
            showvenues(currentPage - 1);
        }
    }
    function nextpage() {
        var current=$("#currentpage").html();
        var currentPage=parseInt(current);
        var total=$("#totalpage").html();
        var totalPage=parseInt(total);
        showvenues(currentPage + 1);
    }
</script>
</html>