<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/yoga/js/jquery.min.js"></script>
</head>
<body>

<div id="allVenue">

</div>
<script>
    function selAllVenue() {
        $.post(
            '/yoga/user/venues','', function (data) {
                var content='';
                for (var i=0;i<data.length;i++){
                content+="<a href='/yoga/user/venueDetails?venueId="+data[i].venueId+"'>"+
                        "<div style='border: 1px red solid'>" +
                        "<img src='"+data[i].venueImg+"' style='height: 100px;width: 100px'>" +
                        "<p >"+data[i].venueName+"</p>" +
                        "<p>"+data[i].venueAddress+"</p>"+
                        "</div>"+
                        "</a>";
                }
                $("#allVenue").html(content);
            }
        );
    }
    selAllVenue();
</script>
</body>
</html>