<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/user/bootstrap/dist/css/bootstrap.min.css}"
          href="../../static/user/bootstrap/dist/css/bootstrap.min.css">
    <link th:href="@{/user/css/index.css}" rel="stylesheet"
          href="../../static/user/css/index.css">
</head>
<body>
<div class="rectangle">
    <div class="container">
        <div class="row clearfix">
            <div class="userpic">
                <a href="/yoga/user/user"><img class="userimg" src="../../static/user/img/1.jpg" th:src="@{/user/img/1.jpg}"></a>

            </div>
            <div class="sign">
                <div id="logo">
                    YoGa,keep your body
                </div>
                <!-- <p1>Yoga，开启你的瑜伽</p> -->
                <img class="aj" src="../../static/user/img/aj.png" th:src="@{/user/img/aj.png}">
            </div>


        </div>

    </div>
    <div style="margin-top: 20px;">
        <div class="vip">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-star">vip专属</a>
                </li>
                <li><a href="#ios" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>我的vip</a></li>
                <li><a href="#more" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span>更多</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <p>资讯</p>
                </div>
                <div class="tab-pane fade" id="ios">
                    <p>你当前还不是YoGa vip用户</p>
                </div>
                <div class="tab-pane fade" id="more">
                    <p>更多</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div class="vip" style="height: 210px;">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#coach" data-toggle="tab">我的教练</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="coach">
                    <div id="myself_course">当前没有预约教练</div>
                    <a href="">
                        <div class="add1">
                            <span class="glyphicon glyphicon-plus"
                                  style="margin-left: 10px; margin-top: 7px;">预约教练</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div style="margin-top: 12px;">
            <div class="vip" style="height: 210px;">

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#space" data-toggle="tab">我的场馆</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="space">
                        <div>您还没有办理任何场馆的会员</div>
                        <a href="">
                            <div class="add1">
                                <span class="glyphicon glyphicon-plus"
                                      style="margin-left: 10px; margin-top: 7px;">筛选场馆</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script src="../../static/user/js/jquery/dist/jquery.min.js"></script>
<script src="../../static/user/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
