<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/yoga/js/jquery.min.js"></script>
</head>
<body>
hello
<!--<img src="" id="headImg">
<button onclick='uploadImg()' value="上传"></button>-->
       <!-- <form action="/yoga/user/updateUserInfo" method="post">
            昵称：<input type="text" id="netName" name="netName"></br></br>
            qq:<input type="text" name="qq" id="qq"></br></br>
            真实姓名：<input type="text" name="realName" id="realName"></br></br>
            手机号：<input type="text" name="phoneNumber" id="phoneNumber"></br></br>
            性别：<select id="sex" name="sex">
            <option>保密</option>
            <option>男</option>
            <option>女</option>
        </select></br></br>
            身份证号：<input type="text" name="idCard" id="idCard"></br></br>
            <input type="submit" value="保存"></br></br>
        </form>-->

<script>
   /* function selectMyInfo() {
        $.ajax({
            url:'/yoga/user/selectMyInfo',
            type:'post',
            async:true,
            success:function (data) {
                $("#netName").val(data.netName);
                $("#qq").val(data.qq);
                $("#realName").val(data.realName);
                $("#phoneNumber").val(data.phoneNumber);
                $("#sex").val(data.sex);
                $("#idCard").val(data.idCard);
               /!* var img="<img src='"+data.headImg+"'>";
                $("#headImg1").html(img);
*!/
            }
        });
    }*/
    //selectMyInfo();
   /* function uploadImg() {

    }*/
</script>
</body>
</html>