<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script type="text/javascript" src="/yoga/js/jquery.min.js"></script>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <img alt="140x140" src="/yoga/user/img/1.jpg" />
                </div>
                <div class="col-md-6 column">
                    <h3 id="username">
                       未登录
                    </h3>
                </div>
                <div class="col-md-4 column">
                    <button type="button" onclick="logout()" class="btn btn-default btn-danger">注销</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/yoga/user/info">
                    <h3 class="panel-title">
                       我的信息
                    </h3>
                    </a>
                </div>
                <a href="/yoga/user/mymoney">
                <div class="panel-body">
                   我的钱包
                </div>
                </a>
                <a>
                <div class="panel-footer">
                    我的订单
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
<script>
    //登出
    function logout() {
        $.ajax({
            url:'/yoga/logout',
            success:function (data) {

                alert(data.message);
                if (data.code==0){
                    location.reload(true);
                }else {
                    alert(data.message);
                }
            }
        });
    }

    //显示用户名
    function getUserName() {
        $.ajax({
            url:'/yoga/user/getUserName',
            type:'post',
            async:true,
            success:function (data) {
                if (data!=null){
                    $("#username").html(data);
                }
            }
        });
    }

    getUserName();
</script>
</body>
</html>