<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>场馆详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<img th:src="${venue.venueImg}" style="width: 100px;height: 100px"></br>
场馆名：<p th:text="${venue.venueName}"></p>
场馆地址：<p th:text="${venue.venueAddress}"></p>
联系电话：<p th:text="${venue.venuePhone}"></p>
qq:<p th:text="${venue.qq}"></p>
详细介绍：<p th:text="${venue.venueDetails}"></p>
<input type="hidden" th:value="${venue.venueId}">

<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" onclick="selAllVipType()" data-target="#myModal">加入我们</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">办理会员</h4>
            </div>
            <div class="modal-body">

                <table id="dg" class="easyui-datagrid"
                       data-options="width:1000,title:'会员卡类型',url:'/yoga/manager/selallvenues',fitColumns:true,striped:true,pagination:true,rownumbers:true,pageNumber:1,pageSize:5,pageList:[5,10,15],toolbar:'#tb'">
                    <thead>
                    <tr>
                        <th data-options="field:'venueId',title:'场馆编号',width:80,align:'center'"></th>
                        <th data-options="field:'userId',title:'用户ID',width:80,align:'center'"></th>
                        <th data-options="field:'venueName',title:'场馆名称',width:80,align:'center'"></th>
                        <th data-options="field:'venueAddress',title:'场馆地址',width:80,align:'center'"></th>
                        <th data-options="field:'venuePhone',title:'场馆电话',width:80,align:'center'"></th>
                        <th data-options="field:'qq',title:'场馆QQ',width:80,align:'center'"></th>
                        <th data-options="field:'venueDetails',title:'场馆详细信息',width:80,align:'center'"></th>
                        <th data-options="field:'authInfo',title:'认证资料',width:80,align:'center'"></th>
                        <th data-options="field:'authState',title:'认证是否通过',width:80,align:'center'" formatter="checkState"></th>
                    </tr>
                    </thead>
                </table>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>

</script>
</body>
</html>