<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/teacher/page2.css"
          th:href="@{/css/teacher/page2.css}">
    <script th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
</head>
<body>
<!--<shiro:guest>-->
<!--<div class="logout">请<a th:href="@{/teacher/registerPage}">注册</a>或者<a th:href="@{/teacher/loginPage}">登陆</a></div>-->
<!--</shiro:guest>-->
<shiro:authenticated>
    <header class="white_area">
        <div id="head_img" style="width: 24%">
            <img src="../../static/img/head_imgs/dddsx.jpg"/>
        </div>
        <div id="name" style="width: 75%"></div>
    </header>
    <div id="my_wallet" class="white_area" onclick="openPage('wallet')">
        我的钱包
    </div>
    <div class="white_area" id="manager">
        <div class="single_manager">私教邀请</div>
        <div class="separate_line"></div>
        <div class="single_manager">我的场馆</div>
        <div class="separate_line"></div>
        <div class="single_manager">个人资料</div>
        <div class="separate_line"></div>
        <div class="single_manager">我的关注</div>
    </div>
    <div id="quit" onclick="openFooterConfirmPage()" class="white_area">注销</div>
</shiro:authenticated>

<script>
    // 视窗可见区域的宽和高
    var windowHeight = document.documentElement.clientHeight;
    var windowWidth = document.documentElement.clientWidth;
    // 初始化各个模态框的位置，居中显示
    $(function () {
        var modals = $(".modal");
        for (var i = 0; i < modals.length; i++) {
            var thisWidth = modals.eq(i).css("width");
            var thisHeight = modals.eq(i).css("height");
            var useWidth = thisWidth.substr(0, thisWidth.length - 2);
            var userHeight = thisHeight.substr(0, thisHeight.length - 2);
            var topDistance = (windowHeight - userHeight) / 2 - 50;
            var leftDinstance = (windowWidth - useWidth) / 2;
            modals.eq(i).css("margin", topDistance + "px " + leftDinstance + "px");
        }
    })

    function openDialog(id, state) {
        $("#" + id).css("display", state);
        $("#wall").css("display", state);
    }

    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url: "/yoga/teacher/login",
            type: "post",
            data: {
                "userName": username,
                "password": password
            },
            dataType: "json",
            success: function (mes) {
                if (mes.code == 0) {
                    window.location.reload();
                } else {
                    showMessage(mes.message);
                }
            }
        })
    }

    function showMessage(word) {
        $("#word").html(word);
        openDialog("message", "block");
    }

    //注销
    function logout() {
        $.ajax({
            url: "/yoga/logout",
            type: "post",
            success: function () {
                window.location.reload();
            }
        })
    }

    function openPage(name) {
        window.location.href = "/yoga/teacher/" + name;
    }

    function openFooterConfirmPage() {

    }
</script>
</body>
</html>