<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            background-color: #e5e5e5;
        }

        .background_img_div img {
            width: 100%;
        }

        .background_img_div {
            overflow: hidden;
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 2;
        }
    </style>
</head>
<body>
<div class="background_img_div">
    <img src="../../static/img/big_imgs/unlogined.jpg" th:src="@{/img/big_imgs/unlogined.jpeg}">
</div>
</body>
</html>