<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <link rel="stylesheet" th:href="@{/css/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/css/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/themes/tree.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/easyui-lang-zh_CN.js}"></script>
</head>
<body>
<a href="#" id="mb" class="easyui-menubutton" data-options="menu:'#men',plain:false,iconAlign:'right'">管理员菜单</a>
<div id="men" style="width: 150px">
    <div style="width: 150px"><a href="">会员管理</a></div>
    <div style="width: 150px"><a href="mvenues.html">场馆管理</a></div>
    <div style="width: 150px">教练管理</div>
    <div style="width: 150px">学员管理</div>
    <div style="width: 150px">广告设置</div>
    <div style="width: 150px">交易管理</div>
    <div style="width: 150px">主页·帖子设置</div>
</div>




</body>
<script>

</script>
</html>