<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.yoga.dao.AttentionMapper">
  <resultMap id="BaseResultMap" type="cn.project.yoga.pojo.Attention">
    <id column="attention_id" jdbcType="INTEGER" property="attentionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="follow_id" jdbcType="INTEGER" property="followId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    attention_id, user_id, follow_id, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attention
    where attention_id = #{attentionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attention
    where attention_id = #{attentionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.project.yoga.pojo.Attention">
    insert into attention (attention_id, user_id, follow_id, 
      flag)
    values (#{attentionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{followId,jdbcType=INTEGER}, 
      #{flag,jdbcType=INTEGER})
  </insert>



  <insert id="insertSelective" parameterType="cn.project.yoga.pojo.Attention">
    insert into attention
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="followId != null">
        follow_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="followId != null">
        #{followId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="cn.project.yoga.pojo.Attention">
    update attention
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="followId != null">
        follow_id = #{followId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where attention_id = #{attentionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.project.yoga.pojo.Attention">
    update attention
    set user_id = #{userId,jdbcType=INTEGER},
      follow_id = #{followId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where attention_id = #{attentionId,jdbcType=INTEGER}
  </update>
</mapper>