<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.yoga.dao.User_infoMapper">
  <resultMap id="BaseResultMap" type="cn.project.yoga.pojo.User_info">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="info_state" jdbcType="VARCHAR" property="infoState" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="net_name" jdbcType="VARCHAR" property="netName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="total_money" jdbcType="INTEGER" property="totalMoney" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, user_id, phone_number, info_state, qq, net_name, real_name, id_card, balance, 
    score, head_img, total_money, level, sex, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.project.yoga.pojo.User_info">
    insert into user_info (u_id, user_id, phone_number, 
      info_state, qq, net_name, 
      real_name, id_card, balance, 
      score, head_img, total_money, 
      level, sex, flag)
    values (#{uId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{infoState,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{netName,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{balance,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{headImg,jdbcType=VARCHAR}, #{totalMoney,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{sex,jdbcType=CHAR}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.project.yoga.pojo.User_info">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="infoState != null">
        info_state,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="netName != null">
        net_name,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="infoState != null">
        #{infoState,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="netName != null">
        #{netName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.project.yoga.pojo.User_info">
    update user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="infoState != null">
        info_state = #{infoState,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="netName != null">
        net_name = #{netName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.project.yoga.pojo.User_info">
    update user_info
    set user_id = #{userId,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      info_state = #{infoState,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      net_name = #{netName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      head_img = #{headImg,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      sex = #{sex,jdbcType=CHAR},
      flag = #{flag,jdbcType=INTEGER}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>